<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnWarning="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/unit/</directory>
        </testsuite>

        <testsuite name="acceptance">
            <directory>./tests/acceptance/</directory>
        </testsuite>
    </testsuites>
</phpunit>
